In [ ]:
import os
import pandas as pd
import sqlite3
os.getcwd()

In [ ]:
os.chdir('/Users/d74ro/Documents/GitHub/TestRun/')

In [ ]:
data = pd.read_html('http://www.espn.com/nfl/statistics/player/_/stat/rushing/sort/rushingYards/year/2018/seasontype/2')[0]

In [ ]:
cols = data.loc[0, :]

In [ ]:
data.columns = cols

In [ ]:
data = data.loc[1:, :]

In [ ]:
data = data.drop(bad_rows, axis=0)

In [ ]:
data.head(8)

In [ ]:
data = data.dropna(axis=1)

In [ ]:
data.iloc[:, 2:] = data.iloc[:, 2:].astype('float64')

In [ ]:
data = data.reset_index(drop=True)

In [ ]:
data

In [ ]:
data_num = data.iloc[:. 2:].astype('float64')

In [ ]:
data_obj = data.iloc[:, :2]

In [ ]:
data_num

In [ ]:
data_num = data.iloc[:, 2:].astype('float64')

In [ ]:
data_obj = data.iloc[:, :2]

In [ ]:
data = pd.concat([data_obj, data_num], axis=1)

In [ ]:
data.dtypes

In [ ]:
data.loc[:, 'NEW_YDSA'] = data.YDS / data.ATT

In [ ]:
data.loc[:, 'NEW_YDSA'] = round(data.NEW_YDSA, 3)

In [ ]:
data

In [ ]:
conn = sqlite3.connect("Test_DB.sqlite3")

In [ ]:
data.to_sql(
 name='table_name',
 con=conn,
if_exists='fail', #can also use 'replace' or append
index=False
)

In [ ]:
df = pd.read_sql_query('SELECT * FROM table_name ORDER BY `YDS/A`', conn)

In [ ]:
data = data.rename(columns={'YDS/A' : 'YDS_A',
                  'YDS/G' : 'YDS_G'})

In [ ]:
data

In [ ]:
my_dict['Seattle'] = 'Seahawks'
my_dict['SF'] = '49ers'

In [ ]:
my_dict